body {
    height: 100vh;
    margin: 0;
}

div.attestation-container {
    display: flex;
    flex-direction: column;
    min-height: 50%;
    height: 75%;
    align-items: center;
    justify-content: center;
}

div.attestation {
    margin-bottom: 20px;
}

div.attestation-checkbox {
    margin-bottom: 10px;
}